body{

background-color: rgb(218, 221, 221) !important;
overflow-x: hidden !important;
}
html{
    overflow-x: hidden;
}

.mainContainer{

    
    margin-top:10vh;
    border-radius:20px;
    background-color: rgba(225, 247, 248, 0.911);
    margin-bottom:13vh;
    
}

.topBar{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   padding: 12px;
   border-bottom: 1px solid rgb(218, 221, 221);
}

.mainForm .card{

    width:70%;
    margin: 5vh auto;
    padding:20px ;
}

.padding1{
    padding: 10px;
    width:70%;
    margin: auto;
    
}

.widthManager{
   width: 80%;

}

.stages .material-icons{

    font-size: 48px !important;
}
.stages .card{
    width: 80%;
    cursor: pointer;
}
 .cardSelected{

    background-color: rgba(225, 247, 248, 0.911) !important;
}
input[type="file" i] {
    -webkit-appearance: initial;
   
    cursor: default;
    align-items: baseline;
    color: white;
    text-align: start !important;
     margin-left: 5px;
     
    border: initial;
}

@media (max-width:992px)  {

    .mainContainer{
        width:100% ;
        

    }
    .mainContainer .card{
        width:90% !important;
    }

}

@media (max-width:768px)  {

    .container{
        max-width:100% !important;
       

    }
    .mainContainer .card{
        width:95% !important;
    }

}


@media (max-width:576px){

.padding1{
    width:100%;
    padding: 3px;
}
}